---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Breadcrumbs from "../../components/atoms/Breadcrumbs.astro";
import Footer from "../../components/Footer.astro";
import Form from "../../components/Form.astro";
import type { Lang } from "../../i18n/index";
import { useTranslations } from "../../i18n/index";

export function getStaticPaths() {
  return [
    { params: { lang: undefined } },
    { params: { lang: "es" } },
  ];
}

const { lang = "en" } = Astro.params as { lang?: Lang };
const { t } = useTranslations(lang);
const pathname = lang === "en" ? "/contact" : "/es/contact";
---

<Layout lang={lang} page="contact" pathname={pathname}>
    <Navbar lang={lang} pathname={pathname} />
    <Breadcrumbs
        items={[
            { label: t("projects.breadcrumbHome"), href: "/" },
            { label: t("nav.contact") }
        ]}
        light
    />
    <main class="pt-32 bg-black lg:pt-40 pb-8 lg:pb-24 px-4 md:px-8 lg:px-24">
    <section class="max-w-6xl mx-auto">
      <h1
        class="text-3xl md:text-5xl text-brand-primary font-unbounded font-bold uppercase leading-tight"
      >
        {t("contact.title")}
      </h1>
      <p class="text-xs md:text-base text-gray-300 mt-4">
        {t("contact.description")}
      </p>
    </section></main>
    <Form lang={lang}/> 
    <Footer lang={lang} pathname={pathname} />
</Layout>